@model PrestationService.Models.Client

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_admin_layout.cshtml";
}

<div class="single-product-tab-area mg-b-30">
    <!-- Single pro tab review Start-->
    <div class="single-pro-review-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="review-tab-pro-inner">
                        <ul id="myTab3" class="tab-review-design">
                            <li class="active"><a href="#description"><i class="icon nalika-edit" aria-hidden="true"></i> Modifier Client</a></li>
                        </ul>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div id="myTabContent" class="tab-content custom-product-edit">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="product-tab-list tab-pane fade active in" id="description">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                                <div class="input-group mg-b-pro-edt">
                                                     <div>
                                                        @Html.HiddenFor(model => model.IdClient)
                                                       
                                                    </div>
                                                </div>
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="icon nalika-user" aria-hidden="true"></i></span>
                                                    <div>
                                                        @Html.EditorFor(model => model.nom, new { htmlAttributes = new { @class = "form-control", placeholder = "Nom" } })
                                                        @Html.ValidationMessageFor(model => model.nom, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="icon nalika-user" aria-hidden="true"></i></span>
                                                    <div>
                                                        @Html.EditorFor(model => model.prenom, new { htmlAttributes = new { @class = "form-control", placeholder = "Prenom" } })
                                                        @Html.ValidationMessageFor(model => model.prenom, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="icon nalika-happiness" aria-hidden="true"></i></span>
                                                    <div>
                                                        @Html.EditorFor(model => model.naissance, new { htmlAttributes = new { @class = "form-control", placeholder = "Date de Naissance" } })
                                                        @Html.ValidationMessageFor(model => model.naissance, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="icon nalika-mail" aria-hidden="true"></i></span>
                                                    <div>
                                                        @Html.EditorFor(model => model.adresse, new { htmlAttributes = new { @class = "form-control", placeholder = "Adresse" } })
                                                        @Html.ValidationMessageFor(model => model.adresse, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="icon nalika-mail" aria-hidden="true"></i></span>
                                                    <div>
                                                        @Html.EditorFor(model => model.mail, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                                                        @Html.ValidationMessageFor(model => model.mail, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="icon nalika-smartphone-call" aria-hidden="true"></i></span>
                                                    <div>
                                                        @Html.EditorFor(model => model.tel, new { htmlAttributes = new { @class = "form-control", placeholder = "Telephone" } })
                                                        @Html.ValidationMessageFor(model => model.tel, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="input-group mg-b-pro-edt">
                                                    <span class="input-group-addon"><i class="icon nalika-edit" aria-hidden="true"></i></span>
                                                    <div>
                                                        @Html.EditorFor(model => model.identification, new { htmlAttributes = new { @class = "form-control", placeholder = "CNI" } })
                                                        @Html.ValidationMessageFor(model => model.identification, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="text-center custom-pro-edt-ds">
                                                <button type="submit" value="Save" class="btn btn-ctl-bt waves-effect waves-light m-r-10">
                                                    Save
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        }

                        <div>
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
