@model PrestationService.Models.Professionnel

@{


    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NewService</title>
</head>
<body>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">

    <style>
        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        .button1 {
            border-radius: 2px;
        }

        .button2 {
            border-radius: 4px;
        }

        .button3 {
            border-radius: 8px;
        }

        .button4 {
            border-radius: 12px;
        }

        .button5 {
            border-radius: 50%;
        }
    </style>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="modal fade" tabindex="-1" id="loginModal"
                     data-keyboard="false" data-backdrop="static">
                    <div class="modal-dialog modal-lg" style="width:400px; height:600px">
                        <div class="modal-content"style="width:400px; height:600px">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">
                                    @Html.ActionLink("Back to Service", "AllService")
                                </button>

                            </div>

                            <div class="modal-body">
                                <div class="col-lg-12" style="height:400px">
                                    <div>
                                        <img class="author_img rounded-0" src="~/occupy/img/team/foto2.jpeg" style="width:200px; height:200px" alt="">
                                    </div>
                                    <div>
                                    <h4> @ViewData["NomComplet"]</h4>
                                    </div>
                                    <div>
                                        <p>@ViewData["Specialite"]</p>
                                     </div>
                                    <div>
                                        <p>@ViewData["mail"]</p>
                                     </div>

                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-github"></i></a>
                                        <a href="#"><i class="fa fa-behance"></i></a>


                                        <div class="br"></div>

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary button button4">
                                @Html.ActionLink("Edit", "EditModal", new { id = @ViewData["Id"] })
                                </button>
                                <button type="button" id="btnHideModal" class="btn btn-primary button button4">
                                    Hide
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">

    </script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            //$("#btnShowModal").click(function () {
            $("#loginModal").modal('show');
            //});

            $("#btnHideModal").click(function () {
                $("#loginModal").modal('hide');
            });
        });
    </script>
</body>
</html>

