@model PrestationService.Models.Carte

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Home_layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Carte</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.typPay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.typPay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.acompte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.acompte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.typeCarte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.typeCarte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numeroCarte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numeroCarte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numeroCsv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numeroCsv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.expiration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.expiration)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
