@model PrestationService.Models.Prestation

@{
                /**/

                ViewBag.Title = "Edit";
                Layout = "~/Views/Shared/_admin_layout.cshtml";
}



<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SenPro - Modifier Prestation</title>
    <!-- Custom fonts for this template -->
    @*<link href="/Asset/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">*@
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Custom styles for this template -->
    @*<link href="/Asset/css/sb-admin-2.min.css" rel="stylesheet">*@
    <!-- Custom styles for this page -->
    <link href="/Asset/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Modifier Prestation</h1>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">

                        <div class="card-body">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                            <form class="row g-3">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.idPrestation)
                                <div class="form-group">
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.adresse, new { htmlAttributes = new { @class = "form-control", placeholder = "Adresse" } })
                                        @Html.ValidationMessageFor(model => model.adresse, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.date, new { htmlAttributes = new { @class = "form-control", placeholder = "Date" } })
                                        @Html.ValidationMessageFor(model => model.date, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                               
                                <div class="form-group">
                                    <div class="col-md-8">
                                        @Html.DropDownList("id", new SelectList(ViewBag.Utilisateur, "id", "Prenom"), "Professionnel", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.id, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-8">
                                        @Html.DropDownList("idService", null, "Service", htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.idService, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                                        <a class="btn btn-button-warning-ct">@Html.ActionLink("Annuler", "Index")</a>

                                    </div>
                                </div>
                            </form>
                            }
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    <!-- Bootstrap core JavaScript-->
    <script src="/Asset/vendor/jquery/jquery.min.js"></script>
    <script src="/Asset/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="/Asset/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="/Asset/js/sb-admin-2.min.js"></script>
    <!-- Page level plugins -->
    <script src="/Asset/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/Asset/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="/Asset/js/demo/datatables-demo.js"></script>
</body>
</html>
